page-advert {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  .time {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .fullscreen {
    width: 100%;
    height: 100%;
  }
}
