page-chat {

    .card-content-ios {
        padding-bottom: 0px;
    }

    .user-span {
        float: right;
        padding-right: 10px
    }
    
    .user-span span {
        color: #b2b2b2;
    }
}

