<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>{{"HOME_TITLE" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'PULLING_TEXT'| translate}}"
      refreshingSpinner="circles"
      refreshingText="{{'REFRESHING_TEXT' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides pager autoplay="3000" speed="1000" loop="true" autoplayDisableOnInteration="true">
    <ion-slide *ngFor="let item of slideData" (click)="openPage(item)">
      <img src="{{item.img}}" alt="{{item.title}}">
      <div class="cover"></div>
      <span class="title">{{item.title}}</span>
    </ion-slide>
  </ion-slides>

  <ion-card *ngFor="let page of pages" (click)="openPage(page)">
    <ion-item>
      <h2>{{page.title}}</h2>
    </ion-item>
    <ion-card-content>
      <p>{{page.abstract}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button clear small>
          <span class="user-span">{{page.time}}</span>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="ios-thumbs-up-outline"></ion-icon>
          <span>{{page.like}}</span>
        </button>
        <button ion-button icon-left clear small>
          <ion-icon name="ios-text-outline"></ion-icon>
          <span>{{page.commit}}</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{'LOADING_TEXT' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
