page-home {

  ion-slides {
    height: 30%;
    .cover {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 30px;
      //background: linear-gradient(to right, #f9a727, #265ff9);
      background: #c2beb3;
      opacity: 0.6;
    }
    .title {
      position: absolute;
      bottom: 0px;
      width: 90%;
      height: 30px;
      line-height: 30px;
      font-size: 80%;
      left: 5px;
      text-align: center;
      color: white;
    }
  }
  .item-block{
    min-height: 0;
  }

  .item-ios{
    font-size: 1.5rem;
  }

  .user-span span{
    color: #b2b2b2;
  }


  ion-label{
    white-space: normal;
  }
  .note-ios{
    color: #6b6b6b;
  }

  .button-small-ios {
    padding: 0 0em;
  }

  .buttom-btn{
    float: right;
    padding-right: 10px
  }
}
