<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="question">
        {{'QUESTION_TXT'| translate}}
      </ion-segment-button>
      <ion-segment-button value="hottip">
        {{'HOTTIP_TXT'| translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'question'">
      <ion-item *ngFor="let question of questions">
        <h3>{{question.title}}</h3>
        <p (click)="openPages(question.url)">{{question.abstract}}</p>
        <div class="user-span">
          <button ion-button clear small>
            <span>{{question.time}}</span>
          </button>
          <button ion-button icon-left clear small class="buttom-btn">
            <ion-icon name="ios-thumbs-up-outline"></ion-icon>
            <span>{{question.like}}</span>
          </button>
          <button ion-button icon-left clear small class="buttom-btn">
            <ion-icon name="ios-text-outline"></ion-icon>
            <span>{{question.commit}}</span>
          </button>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'hottip'">
      <ion-item *ngFor="let hottip of hotTips">
        <h2>{{hottip.title}}</h2>
        <p (click)="openPages(hottip.url)">{{hottip.abstract}}</p>
        <div class="user-span">
          <button ion-button clear small>
            <span>{{hottip.time}}</span>
          </button>
          <button ion-button icon-left clear small class="buttom-btn">
            <ion-icon name="ios-thumbs-up-outline"></ion-icon>
            <span>{{hottip.like}}</span>
          </button>
          <button ion-button icon-left clear small class="buttom-btn">
            <ion-icon name="ios-text-outline"></ion-icon>
            <span>{{hottip.commit}}</span>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>