page-news {
    .item-block{
        min-height: 0;
      }
    
      .item-ios{
        font-size: 1.5rem;
      }
    
      .user-span span{
        color: #b2b2b2;
      }
    
    
      ion-label{
        white-space: normal;
      }
      .note-ios{
        color: #6b6b6b;
      }
    
      .button-small-ios {
        padding: 0 0em;
      }
    
      .buttom-btn{
        float: right;
        padding-right: 10px
      }
}
