<ion-header no-shadow *ngIf="!isLogined">
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce *ngIf="!isLogined">
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
      <h2 class="slide-title">{{ 'TUTORIAL_SLIDE3_TITLE' | translate }}</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content no-bounce *ngIf="isLogined">
  <ion-slides>
    <ion-slide>
      <button ion-button outline class="time" disabled>广告{{deadTime}}秒</button>
      <img src="assets/img/advert.png"/>
    </ion-slide>
  </ion-slides>
</ion-content>
